<section class="top-top5s clearfix">
  <h2>TOP5</h2>
  <ul>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% @ranked_posts.each do |post| %>
          <li class="swiper-slide ranking-slide">
            <div class="ranked-post">
              <div class="ranked-post-header">
                <div class="ranked-post-header-icon">icon</div>
                <div class="ranked-post-header-title"><%= link_to post.title, post %></div>
                <div class="ranked-post-header-outline"><%= post.outline %></div>
              </div>
              <div class="ranked-post-content">
                <div class="ranked-post-text_status"><%= post.status %></div>
              </div>
              <div class="ranked-post-footer">
                <%= image_tag post.user.image %>
                <%= post.user.username %>
              </div>
            </div>
          </li>
        <% end %>
      </div>
      <div class="swiper-pagination ranking-pagenation"></div>

      <div class="swiper-button-prev ranking-prev-btn"></div>
      <div class="swiper-button-next ranking-next-btn"></div>
    </div>
  </ul>
</section>


<section class="top-posts clearfix">
<h2>最新のペライチ</h2>
  <%= link_to 'planner', search_posts_path(sort:'planner') %>
  <%= link_to 'engineer', search_posts_path(sort:'engineer') %>
  <%= link_to 'designer', search_posts_path(sort:'designer') %>

  <% if user_signed_in? %>
      <ul class="posts">
        <% @posts.each do |post| %>
            <li class="posts-post">
              <div class="posts-post-text">
                <div class="posts-post-text_title"><%= link_to post.title, post %></div>
                <div class="posts-post-text_outline"><%= post.outline %></div>
                <!--<div class="posts-post-text_detail"><%= post.detail %></div>-->
                <div class="posts-post-text_status"><%= post.status %></div>
              </div>
            </li>
        <% end %>
      </ul>
<% else %>
      <ul class="posts">
        <% @posts.each do |post| %>
            <li class="posts-post">
              <div class="posts-post-text">
                <div class="posts-post-text_title"><%= link_to post.title, post %></div>
                <div class="posts-post-text_status"><%= post.status %></div>
                <div class="posts-post-text_more"><%= link_to 'この企画に参加！', user_facebook_omniauth_authorize_path %></div>
              </div>
            </li>
        <% end %>
      </ul>
<% end %>

</section>

<script>
  $(function() {
    var mySwiper = new Swiper ('.swiper-container', {
      loop: true,
      pagination: '.swiper-pagination',
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      spaceBetween: 10,
      centeredSlides : true,
      slidesPerView: 2,
      simulateTouch: true,
      breakpoints: {
        767: {
          slidesPerView: 1.2
        }
      }
    })
  });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
