<div class="top-page-wrapper">

  <section class="top-top5s">
    <h2>TOP PROJECT</h2>
    <div class="ranking-slider">
      <% @ranked_posts.each_with_index do |post, i| %>
        <div class="ranked-post">
          <div class="ranked-post-header">
            <% if i == 0 %>
              <div class="crown-large-circle">
                <%= image_tag 'ranking_images/crown1.png' %>
                <span class="no1-label"><%= i + 1 %>位</span>
              </div>
            <% elsif i == 1 %>
            <div class="crown-large-circle">
                <%= image_tag 'ranking_images/crown2.png' %>
                <span class="no2-label"><%= i + 1 %>位</span>
              </div>
            <% elsif i == 2 %>
            <div class="crown-large-circle">
                <%= image_tag 'ranking_images/crown3.png' %>
                <span class="no3-label"><%= i + 1 %>位</span>
              </div>
            <% elsif i == 3 %>
              <div class="crown-small-circle">
                <%= image_tag 'ranking_images/crown4.png' %>
                <span><%= i + 1 %>位</span>
              </div>
            <% else %>
              <div class="crown-small-circle">
                <%= image_tag 'ranking_images/crown4.png' %>
                <span><%= i + 1 %>位</span>
              </div>
            <% end %>
            <div class="ranked-post-header-icon"><%= fa_icon 'handshake-o', class: 'ranked-post-icon' %></div>
            <div class="ranked-post-header-title"><%= link_to post.title, post %></div>
            <div class="ranked-post-header-detail"><%= post.detail.truncate(50) %></div>
          </div>
          <div class="ranked-post-footer clearfix">
            <div class="post-founder-wrapper clearfix">
              <div class="post-founder-img">
                <%= link_to user_path(post.user) do %>
                    <%= image_tag post.user.try(:image) %>
                <% end %>
              </div>
              <div class="post-founder-info">
                <span class="post-founder-name"><%= post.user.try(:username) %></span>
              </div>
            </div>

            <div class="post-footer-vote">
              <span class="post-share-btn"><%= fa_icon 'share-alt' %></span>

              <% if user_signed_in? %>
                  <% if Vote.find_by(user_id: current_user,post_id:post,support:true).present? %>
                      <%= link_to fa_icon('heart'), support_post_path(post), method: :post, class: 'post-vote-heart' %>
                  <% else %>
                      <%= link_to fa_icon('heart-o'), support_post_path(post), method: :post, class: 'post-vote-heart' %>
                  <% end %>
                  <span class="post-vote-count"><%= Vote.where(post_id: post, support: true).count %></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>

  <section class="top-posts clearfix" id="top-posts">
  <h2>NEW</h2>
    <!--<%= link_to 'planner', search_posts_path(sort:'planner') %>-->
    <!--<%= link_to 'engineer', search_posts_path(sort:'engineer') %>-->
    <!--<%= link_to 'designer', search_posts_path(sort:'designer') %>-->

    <div class="page">
      <%= render 'post_list' %>
    </div>

    <%= paginate @posts, class: 'post-pagenation' %>
  </section>

  <script>
    $(document).on('turbolinks:load', function() {
      $("#top-posts .page").infinitescroll({
        loading: {
          img: "/assets/loading_image.gif",
          msgText: "",
          finishedMsg: ""
        },
        navSelector: "nav.pagination",
        nextSelector: "nav.pagination a[rel=next]",
        itemSelector: "#top-posts div.posts",
        maxPage: <%= Post.count / 10 + 1 %>
      });
    });
  </script>

</div>


<a class="new-post-btn"><span class="fa fa-pencil-square-o"></span></a>

<div id="posts-post-new">
  <%= form_with(model: @post, multipart: true, remote: true) do |form| %>

      <div class="new-posts-header">
        <a class="new-post-btn-close"><span class="fa fa-times"></span></a>
        <a class="new-post-btn-prev"><span>Back</span></a>
        <a class="new-post-slick-next">Next</a>
        <div class="new-post-btn-public"><%= form.submit '投稿する', class: 'show-public-btn ' %></div>
        <!--<div class="new-post-btn-private"><%= form.submit '下書きに保存', name: '', class: 'show-private-btn' %></div>-->

      </div>

      <div class="post-form-container">
        <ul class="new-post-slider">
          <li>
            <h4>アイコンを選択</h4>
            <ul class="categories clearfix">
            <% @categories.each.with_index(1) do | category, index| %>
              <li class="category <%= (index == 5 || index == 9 ) ? 'category-border-left-hide' : ''%> <%= ([9,10,11,12].include?(index) ) ? 'category-border-bottom-hide' : ''%>">
                <div class="category-icon <%= icon_of_category(category) %>"></div>
                <div class="category-name"><%= category %></div>
              </li>
            <% end %>
            </ul>

            <h4>タイトルを記入</h4>
            <div class="title-field">
              <input type="text" id="title-data" placeholder="学生クリエイターのためのマッチングサイト"/>
            </div>

            <h4>詳細を記入</h4>
            <div class="detail-field">
              <textarea type="text" id="detail-data" placeholder="このサービスはものづくりを専門とする学生同士が繋がって一つのプロジェクトをきっかけにコミュニティを築くことができます。"></textarea>
            </div>

            <h4>画像を挿入 (任意)</h4>
            <div class="post-image-field-list-wrapper">
              <div class="post-image-field-list">
                <div class="post-image-field">
                  <span class="fa fa-plus"></span>
                  <%= form.file_field :image, id: :post_image_data %>
                </div>
                <div class="post-image-field">
                  <span class="fa fa-plus"></span>
                  <%= form.file_field :image_2, id: :post_image_data_2 %>

                </div>
                <div class="post-image-field">
                  <span class="fa fa-plus"></span>
                  <%= form.file_field :image_3, id: :post_image_data_3 %>
                </div>
              </div>
            </div>

          </li>

          <li>
            <h4>募集役割</h4>
            <div class="post-jobtype-form">
              <div class="post-jobtype-field">
                <span class="jobtype-name">プランナー</span>
                <div class="jobtype-num-box">
                  <span class="jobtype-minus-btn disabled"><%= fa_icon 'minus-circle' %></span>
                  <input type="text" class="jobtype-num" id="jobtype-planner" value="0" disabled="disabled"/>
                  <span class="jobtype-plus-btn"><%= fa_icon 'plus-circle' %></span>
                </div>
              </div>

              <div class="post-jobtype-field">
                <span class="jobtype-name">エンジニア</span>
                <div class="jobtype-num-box">
                  <span class="jobtype-minus-btn disabled"><%= fa_icon 'minus-circle' %></span>
                  <input type="text" class="jobtype-num" id="jobtype-engineer" value="0" disabled="disabled"/>

                  <span class="jobtype-plus-btn"><%= fa_icon 'plus-circle' %></span>
                </div>
              </div>

              <div class="post-jobtype-field">
                <span class="jobtype-name">デザイナー</span>
                <div class="jobtype-num-box">
                  <span class="jobtype-minus-btn disabled"><%= fa_icon 'minus-circle' %></span>
                  <input type="text" class="jobtype-num" id="jobtype-designer" value="0" disabled="disabled"/>
                  <span class="jobtype-plus-btn"><%= fa_icon 'plus-circle' %></span>
                </div>
              </div>
            </div>

            <div class="new-post-commitment-wrap">
            <h4>ガチ度</h4>
              <div class="new-post-commitment">
                <ul class="commitment-item-box">
                  <li><span>気軽に制作</span></li>
                  <li class="commitment-item commitment-level-1"><i class="fa fa-circle"></i></li>
                  <li class="commitment-item commitment-level-2"><i class="fa fa-circle"></i></li>
                  <li class="commitment-item commitment-level-3 commitment-item-active"><i class="fa fa-circle"></i></li>
                  <li class="commitment-item commitment-level-4"><i class="fa fa-circle"></i></li>
                  <li class="commitment-item commitment-level-5"><i class="fa fa-circle"></i></li>
                  <li><span>ガチで制作</span></li>
                </ul>
              </div>
            </div>

            <h4>目標製作期間</h4>
            <div class="new-post-term">
              <div class="post-term">
                <div class="term-line"></div>
                <div class="term-box">
                  <div class="term-item 1week-tern">
                    <i class="fa fa-circle"></i>
                    <span>1week</span>
                  </div>
                  <div class="term-item 1month-tern">
                    <i class="fa fa-circle"></i>
                    <span>1month</span>
                  </div>
                  <div class="term-item 3month-tern term-item-active">
                    <i class="fa fa-circle"></i>
                    <span>3months</span>
                  </div>
                  <div class="term-item 6month-tern">
                    <i class="fa fa-circle"></i>
                    <span>6months</span>
                  </div>
                  <div class="term-item 1year-tern">
                    <i class="fa fa-circle"></i>
                    <span>1year</span>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li>

            <%= form.hidden_field :category_name, id: :post_category_name, placeholder: 'カテゴリーアイコン' %>

            <%= form.hidden_field :title, id: :post_title, placeholder: 'タイトル' %>
            <%= form.hidden_field :detail, id: :post_detail, placeholder: '詳細' %>

            <%= form.hidden_field :num_of_planner, id: :post_num_of_planner, class: 'jobtype-hidden', value: 0 %>
            <%= form.hidden_field :num_of_engineer, id: :post_num_of_engineer, class: 'jobtype-hidden', value: 0 %>
            <%= form.hidden_field :num_of_designer, id: :post_num_of_designer, class: 'jobtype-hidden', value: 0 %>

            <%= form.hidden_field :motivation, id: :post_motivation, placeholder: 'ガチ度' %>
            <%= form.hidden_field :period, id: :post_period, placeholder: '製作期間' %>

          </li>
        </ul>
      </div>

  <% end %>


  <div class="remodal" data-remodal-id="modal">
    <div class="post-preview-modal" id="post-preview-modal">

      <h3>ペライチが完成しました！<br/>
        みんなに応援してもらいましょう！</h3>
      <div id='post-preview-template'>
        <h4 id="post-preview-title"></h4>
        <p id="post-preview-detail"></p>
      </div>

      <a class="sns-label-fb"><%= fa_icon 'facebook-official' %> Facebookでペライチを共有</a>
      <a class="sns-label-tw"><%= fa_icon 'twitter' %> Twitterでペライチを共有</a>
    </div>
  </div>


  <script>
    $(function () {

      $('.template-item').click(function () {
        $('.template-name').removeClass('template-item-selected');
        $(this).find('.template-name').addClass('template-item-selected')
        $('#post_template_id').val($(this).attr('id'));
        $('.template-format').css({
          'background-image': this.getAttribute('style').split(' ')[1].replace(';', ''),
        });
        $('#post-preview-template').css({
          'background-image': this.getAttribute('style').split(' ')[1].replace(';', ''),
          'width': '350px',
          'height': '200px',
          'margin': '0 auto',
          'background-size': 'cover',
          'border-radius': '5px',
        });
      });


      $('#post_title').change(function () {
        $('#post-preview-title').children('.category-name').text($('#post_title').val());
      });
      $('#post_outline').change(function () {
        $('#post-preview-outline').text($('#post_outline').val());
      });
      $('#post_detail').change(function () {
        $('#post-preview-detail').text($('#post_detail').val());
      });

      $('#close-modal').click(function () {
        $('#post-modal-wrapper').css('display', 'none');
      });



      $('.category').click(function () {
        $(this).parent().find('.category-checked').removeClass('category-checked');
        $(this).addClass('category-checked');
        $('#post_category_name').val($(this).text().replace(/^\s+|\s+$/g,''));
      });

      $('#title-data').change(function () {
        $('#post_title').val($('#title-data').val());
      });

      $('#detail-data').change(function () {
        $('#post_detail').val($('#detail-data').val());
      });



      $('.jobtype-minus-btn').click(function () {
        if (Number($(this).siblings('.jobtype-num').val()) > 0) {
          $(this).siblings('.jobtype-num').val(Number($(this).siblings('.jobtype-num').val()) - 1);
        } else {

        }
        if (Number($(this).siblings('.jobtype-num').text()) == 0) {
          $(this).addClass('disabled');
        }
        $('#post_num_of_planner').val($('#jobtype-planner').val());
        $('#post_num_of_engineer').val($('#jobtype-engineer').val());
        $('#post_num_of_designer').val($('#jobtype-designer').val());
      });

      $('.jobtype-plus-btn').click(function () {
        var $minusBtn = $(this).siblings('.jobtype-minus-btn');
        if (Number($(this).siblings('.jobtype-num').val()) < 10) {
          $(this).siblings('.jobtype-num').val(Number($(this).siblings('.jobtype-num').val()) + 1);
        } else {

        }
        if ($minusBtn.hasClass('disabled')) {
          $minusBtn.removeClass('disabled');
        }
        $('#post_num_of_planner').val($('#jobtype-planner').val());
        $('#post_num_of_engineer').val($('#jobtype-engineer').val());
        $('#post_num_of_designer').val($('#jobtype-designer').val());
      });

      $('.new-post-commitment .commitment-level-1').click(function () {
        $(this).parent().find('.commitment-item-active').removeClass('commitment-item-active');
        $(this).addClass('commitment-item-active');
        $('#post_motivation').val('0');
      });

      $('.new-post-commitment .commitment-level-2').click(function () {
        $(this).parent().find('.commitment-item-active').removeClass('commitment-item-active');
        $(this).addClass('commitment-item-active');
        $('#post_motivation').val('1');
      });

      $('.new-post-commitment .commitment-level-3').click(function () {
        $(this).parent().find('.commitment-item-active').removeClass('commitment-item-active');
        $(this).addClass('commitment-item-active');
        $('#post_motivation').val('2');
      });

      $('.new-post-commitment .commitment-level-4').click(function () {
        $(this).parent().find('.commitment-item-active').removeClass('commitment-item-active');
        $(this).addClass('commitment-item-active');
        $('#post_motivation').val('3');
      });

      $('.new-post-commitment .commitment-level-5').click(function () {
        $(this).parent().find('.commitment-item-active').removeClass('commitment-item-active');
        $(this).addClass('commitment-item-active');
        $('#post_motivation').val('4');
      });


      $('.new-post-term .1week-tern').click(function () {
        $(this).parent().find('.term-item-active').removeClass('term-item-active');
        $(this).addClass('term-item-active');
        $('#post_period').val('0');
      });

      $('.new-post-term .1month-tern').click(function () {
        $(this).parent().find('.term-item-active').removeClass('term-item-active');
        $(this).addClass('term-item-active');
        $('#post_period').val('1');
      });

      $('.new-post-term .3month-tern').click(function () {
        $(this).parent().find('.term-item-active').removeClass('term-item-active');
        $(this).addClass('term-item-active');
        $('#post_period').val('2');
      });

      $('.new-post-term .6month-tern').click(function () {
        $(this).parent().find('.term-item-active').removeClass('term-item-active');
        $(this).addClass('term-item-active');
        $('#post_period').val('3');
      });

      $('.new-post-term .1year-tern').click(function () {
        $(this).parent().find('.term-item-active').removeClass('term-item-active');
        $(this).addClass('term-item-active');
        $('#post_period').val('4');
      });


      $(function () {
        $('.post-image-field input').change(function () {
          var input = this;
          var file = $(this).prop('files')[0];
          if (!file.type.match('image.*')) {
            return;
          }
          var fileReader = new FileReader();
          fileReader.onloadend = function () {
            $(input).parent().find('img').remove();
            $(input).parent().append('<img src="' + fileReader.result + '"/>');
          }
          fileReader.readAsDataURL(file);
        });
      });

    });


  </script>


</div>
