<section class="top-top5s clearfix">
  <h2>TOP5</h2>
  <ul class="posts">
    <li class="posts-post"></li>
    <li class="posts-post"></li>
  </ul>
</section>

<section class="top-posts clearfix">
<h2>最新のペライチ</h2>
<% if user_signed_in? %>
      <ul class="posts">
        <% @posts.each do |post| %>
            <li class="posts-post">
              <div class="posts-post_image"><%= link_to image_tag(post.image), post %></div>
              <div class="posts-post_title"><%= link_to post.title, post %></div>
              <div class="posts-post_outline"><%= post.outline %></div>
              <div class="posts-post_detail"><%= post.detail %></div>
              <div class="posts-post_template_id"><%= post.template_id %></div>
              <div class="posts-post_published"><%= (post.published) ? "下書き" : "公開" %></div>
              <div class="posts-post_status"><%= post.status %></div>
            </li>
        <% end %>
      </ul>

<% else %>
      <ul class="posts">
        <% @posts.each do |post| %>
            <li class="posts-post">
              <div class="posts-post_image"><%= link_to image_tag(post.image), post %></div>
              <div class="posts-post_title"><%= link_to post.title, post %></div>
              <div class="posts-post_status"><%= post.status %></div>
              <div class="posts-post_more"><%= link_to 'この企画に参加！', user_facebook_omniauth_authorize_path %></div>
            </li>
        <% end %>
      </ul>
<% end %>

</section>
