<div class="top-page-wrapper">

  <section class="top-top5s">
    <h2>TOP PROJECT</h2>
    <div class="ranking-slider">
      <% @ranked_posts.each_with_index do |post, i| %>
        <div class="ranked-post" style="background-color: <%= post.main_color%>">
          <div class="ranked-post-header">
            <%= link_to '', post, class: 'link-to-show' %>
            <% if i == 0 %>
              <div class="crown-large-circle">
                <%= image_tag 'ranking_images/crown1.png' %>
                <span class="no1-label"><%= i + 1 %>位</span>
              </div>
            <% elsif i == 1 %>
            <div class="crown-large-circle">
                <%= image_tag 'ranking_images/crown2.png' %>
                <span class="no2-label"><%= i + 1 %>位</span>
              </div>
            <% elsif i == 2 %>
            <div class="crown-large-circle">
                <%= image_tag 'ranking_images/crown3.png' %>
                <span class="no3-label"><%= i + 1 %>位</span>
              </div>
            <% elsif i == 3 %>
              <div class="crown-small-circle">
                <%= image_tag 'ranking_images/crown4.png' %>
                <span><%= i + 1 %>位</span>
              </div>
            <% else %>
              <div class="crown-small-circle">
                <%= image_tag 'ranking_images/crown4.png' %>
                <span><%= i + 1 %>位</span>
              </div>
            <% end %>
            <div class="ranked-post-header-icon"><%= fa_icon 'handshake-o', class: 'ranked-post-icon' %></div>
            <div class="ranked-post-header-title"><%= post.title %></div>
            <div class="ranked-post-header-detail"><%= post.detail.truncate(50) %></div>
          </div>
          <div class="ranked-post-footer clearfix">
            <div class="post-founder-wrapper clearfix">
              <div class="post-founder-img">
                <%= link_to user_path(post.user) do %>
                    <%= image_tag post.user.try(:image) %>
                <% end %>
              </div>
              <div class="post-founder-info">
                <span class="post-founder-name"><%= link_to post.user.try(:username), post.user %></span>
              </div>
            </div>

            <div class="post-footer-vote">
              <span class="post-share-btn"><%= fa_icon 'share-alt' %></span>

              <% if user_signed_in? %>
                  <% if Vote.find_by(user_id: current_user,post_id:post,support:true).present? %>
                      <%= link_to fa_icon('heart'), support_post_path(post), method: :post, data: { confirm: 'この企画の応援をやめますか？' }, class: 'post-vote-heart' %>
                  <% else %>
                      <%= link_to fa_icon('heart-o'), support_post_path(post), method: :post, data: { confirm: 'この企画を応援しますか？' }, class: 'post-vote-heart' %>
                  <% end %>
                  <span class="post-vote-count"><%= Vote.where(post_id: post, support: true).count %></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>

  <section class="top-posts clearfix" id="top-posts">
  <h2>NEW</h2>
    <!--<%= link_to 'planner', search_posts_path(sort:'planner') %>-->
    <!--<%= link_to 'engineer', search_posts_path(sort:'engineer') %>-->
    <!--<%= link_to 'designer', search_posts_path(sort:'designer') %>-->

    <div class="page">
      <%= render 'post_list' %>
    </div>

    <%= paginate @posts, class: 'post-pagenation' %>
  </section>

  <script>
    $(document).on('turbolinks:load', function() {
      $("#top-posts .page").infinitescroll({
        loading: {
          img: "<%= image_path 'loading_image.gif' %>",
          msgText: "",
          finishedMsg: ""
        },
        navSelector: "nav.pagination",
        nextSelector: "nav.pagination a[rel=next]",
        itemSelector: "#top-posts div.posts",
        maxPage: <%= Post.count / 10 + 1 %>
      });
    });
  </script>

</div>


<a class="new-post-btn"><span class="fa fa-pencil-square-o"></span></a>

<div id="posts-post-new">
  <%= form_with(model: @post, multipart: true, remote: true) do |form| %>

      <div class="new-posts-header">
        <a class="new-post-btn-close"><span class="fa fa-times"></span></a>
        <a class="new-post-btn-prev"><span>Back</span></a>
        <a class="new-post-slick-next">Next</a>
        <div class="new-post-btn-public"><%= form.submit '投稿する', class: 'show-public-btn ' %></div>
        <!--<div class="new-post-btn-private"><%= form.submit '下書きに保存', name: '', class: 'show-private-btn' %></div>-->

      </div>

      <div class="post-form-container">
        <ul class="new-post-slider">
          <li>
            <h4>アイコンを選択</h4>
            <ul class="categories clearfix">
            <% @categories.each.with_index(1) do | category, index| %>
              <li class="category <%= (index == 5 || index == 9 ) ? 'category-border-left-hide' : ''%> <%= ([9,10,11,12].include?(index) ) ? 'category-border-bottom-hide' : ''%>">
                <div class="category-icon <%= icon_of_category(category) %>"></div>
                <div class="category-name"><%= category %></div>
              </li>
            <% end %>
            </ul>

            <h4>タイトルを記入</h4>
            <div class="title-field">
              <input type="text" id="title-data" placeholder="学生クリエイターのためのマッチングサイト"/>
            </div>

            <h4>詳細を記入</h4>
            <div class="detail-field">
              <textarea type="text" id="detail-data" placeholder="このサービスはものづくりを専門とする学生同士が繋がって一つのプロジェクトをきっかけにコミュニティを築くことができます。"></textarea>
            </div>

            <h4>画像を挿入 (任意)</h4>
            <div class="post-image-field-list-wrapper">
              <div class="post-image-field-list">
                <div class="post-image-field">
                  <span class="fa fa-plus"></span>
                  <%= form.file_field :image, id: :post_image_data %>
                </div>
                <div class="post-image-field">
                  <span class="fa fa-plus"></span>
                  <%= form.file_field :image_2, id: :post_image_data_2 %>

                </div>
                <div class="post-image-field">
                  <span class="fa fa-plus"></span>
                  <%= form.file_field :image_3, id: :post_image_data_3 %>
                </div>
              </div>
            </div>

          </li>

          <li>
            <h4>募集役割</h4>
            <div class="post-jobtype-form">
              <div class="post-jobtype-field">
                <span class="jobtype-name">プランナー</span>
                <div class="jobtype-num-box">
                  <span class="jobtype-minus-btn disabled"><%= fa_icon 'minus-circle' %></span>
                  <input type="text" class="jobtype-num" id="jobtype-planner" value="0" disabled="disabled"/>
                  <span class="jobtype-plus-btn"><%= fa_icon 'plus-circle' %></span>
                </div>
              </div>

              <div class="post-jobtype-field">
                <span class="jobtype-name">エンジニア</span>
                <div class="jobtype-num-box">
                  <span class="jobtype-minus-btn disabled"><%= fa_icon 'minus-circle' %></span>
                  <input type="text" class="jobtype-num" id="jobtype-engineer" value="0" disabled="disabled"/>

                  <span class="jobtype-plus-btn"><%= fa_icon 'plus-circle' %></span>
                </div>
              </div>

              <div class="post-jobtype-field">
                <span class="jobtype-name">デザイナー</span>
                <div class="jobtype-num-box">
                  <span class="jobtype-minus-btn disabled"><%= fa_icon 'minus-circle' %></span>
                  <input type="text" class="jobtype-num" id="jobtype-designer" value="0" disabled="disabled"/>
                  <span class="jobtype-plus-btn"><%= fa_icon 'plus-circle' %></span>
                </div>
              </div>
            </div>

            <div class="new-post-commitment-wrap">
            <h4>ガチ度</h4>
              <div class="new-post-commitment">
                <ul class="commitment-item-box">
                  <li><span>気軽に制作</span></li>
                  <li class="commitment-item commitment-level-1"><i class="fa fa-circle"></i></li>
                  <li class="commitment-item commitment-level-2"><i class="fa fa-circle"></i></li>
                  <li class="commitment-item commitment-level-3 commitment-item-active"><i class="fa fa-circle"></i></li>
                  <li class="commitment-item commitment-level-4"><i class="fa fa-circle"></i></li>
                  <li class="commitment-item commitment-level-5"><i class="fa fa-circle"></i></li>
                  <li><span>ガチで制作</span></li>
                </ul>
              </div>
            </div>

            <h4>目標製作期間</h4>
            <div class="new-post-term">
              <div class="post-term">
                <div class="term-line"></div>
                <div class="term-box">
                  <div class="term-item 1week-tern">
                    <i class="fa fa-circle"></i>
                    <span>1week</span>
                  </div>
                  <div class="term-item 1month-tern">
                    <i class="fa fa-circle"></i>
                    <span>1month</span>
                  </div>
                  <div class="term-item 3month-tern term-item-active">
                    <i class="fa fa-circle"></i>
                    <span>3months</span>
                  </div>
                  <div class="term-item 6month-tern">
                    <i class="fa fa-circle"></i>
                    <span>6months</span>
                  </div>
                  <div class="term-item 1year-tern">
                    <i class="fa fa-circle"></i>
                    <span>1year</span>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li>


            <div class="post-show-container">
              <div class="post-header">
                <%= fa_icon 'handshake-o', class: 'post-show-icon' %>
              </div>

              <div class="post-content">
                <h1><%= @post.title %></h1>

                <p class="post-detail">
                  <%= @post.detail %>
                </p>

                <!--<div class="post-images">-->
                  <!--<div class="post-image-box">-->
                    <!--<div class="post-image-item post-image-item-1">-->
                    <!--</div>-->
                    <!--<div class="post-image-item post-image-item-2">-->
                    <!--</div>-->
                    <!--<div class="post-image-item post-image-item-3">-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->

                <div class="post-status">
                  <div class="status-line"></div>
                  <div class="status-box">
                    <div class="status-planning status-active">
                      <i class="status-icon show-status-icon"></i>
                      <span class="status-label">募集中</span>
                    </div>
                    <div class="status-development ">
                      <i class="status-icon show-status-icon"></i>
                      <span class="status-label">開発中</span>
                    </div>
                    <div class="status-release ">
                      <i class="status-icon show-status-icon"></i>
                      <span class="status-label">リリース</span>
                    </div>
                  </div>
                </div>

                <div class="post-jobtype post-jobtype-count">
                  <div class="jobtype-icon-list-box">

                  </div>

                  <div class="jobtype-label-box">
                    <% if @post.num_of_planner != 0 %>
                        <span>プランナー</span>
                    <% end %>
                    <% if @post.num_of_engineer != 0 %>
                        <span>エンジニア</span>
                    <% end %>
                    <% if @post.num_of_designer != 0 %>
                        <span>デザイナー</span>
                    <% end %>
                  </div>
                </div>

                <div class="preview-post-term post-term">
                  <div class="term-line"></div>
                  <div class="term-box">
                    <div class="term-item term-item-1">
                      <i class="term-icon"></i>
                      <span class="term-label">1week</span>
                    </div>
                    <div class="term-item term-item-2">
                      <i class="term-icon"></i>
                      <span class="term-label">1month</span>
                    </div>
                    <div class="term-item term-item-3">
                      <i class="term-icon"></i>
                      <span class="term-label">3months</span>
                    </div>
                    <div class="term-item term-item-4">
                      <i class="term-icon"></i>
                      <span class="term-label">6months</span>
                    </div>
                    <div class="term-item term-item-5">
                      <i class="term-icon"></i>
                      <span class="term-label">1year</span>
                    </div>
                  </div>
                </div>

                <div class="preview-post-commitment post-commitment">
                  <ul class="commitment-item-box">
                    <li><span>気軽に制作</span></li>
                    <li class="commitment-item commitment-item-1"><i class="commitment-icon"></i></li>
                    <li class="commitment-item commitment-item-2"><i class="commitment-icon"></i></li>
                    <li class="commitment-item commitment-item-3"><i class="commitment-icon"></i></li>
                    <li class="commitment-item commitment-item-4"><i class="commitment-icon"></i></li>
                    <li class="commitment-item commitment-item-5"><i class="commitment-icon"></i></li>
                    <li><span>ガチで制作</span></li>
                  </ul>
                </div>


              <div class="post-footer">
                <div class="post-footer-box clearfix">
                  <div class="post-founder-wrapper clearfix">

                  </div>
                </div>
              </div>
            </div>






            <%= form.hidden_field :category_name, id: :post_category_name, placeholder: 'カテゴリーアイコン' %>

            <%= form.hidden_field :title, id: :post_title, placeholder: 'タイトル' %>
            <%= form.hidden_field :detail, id: :post_detail, placeholder: '詳細' %>

            <%= form.hidden_field :num_of_planner, id: :post_num_of_planner, class: 'jobtype-hidden', value: 0 %>
            <%= form.hidden_field :num_of_engineer, id: :post_num_of_engineer, class: 'jobtype-hidden', value: 0 %>
            <%= form.hidden_field :num_of_designer, id: :post_num_of_designer, class: 'jobtype-hidden', value: 0 %>

            <%= form.hidden_field :motivation, id: :post_motivation, placeholder: 'ガチ度' %>
            <%= form.hidden_field :period, id: :post_period, placeholder: '製作期間' %>

            <%= form.hidden_field :main_color, id: :main_color, placeholder: 'メインカラー' %>

          </li>
        </ul>
        <div class="post-color-field-list-wrapper">
          <div class="post-color-field-list">
            <div class="post-color-field post-color-field-red">
            </div>
            <div class="post-color-field post-color-field-yellow">
            </div>
            <div class="post-color-field post-color-field-green">
            </div>
            <div class="post-color-field post-color-field-blue">
            </div>
            <div class="post-color-field post-color-field-purple">
            </div>
          </div>
        </div>

      </div>

  <% end %>


  <div class="remodal" data-remodal-id="modal">
    <div class="post-preview-modal" id="post-preview-modal">

      <h3>ペライチが完成しました！<br/>
        みんなに応援してもらいましょう！</h3>
      <div id='post-preview-template'>
        <h4 id="post-preview-title"></h4>
        <p id="post-preview-detail"></p>
      </div>

      <a class="sns-label-fb"><%= fa_icon 'facebook-official' %> Facebookでペライチを共有</a>
      <a class="sns-label-tw"><%= fa_icon 'twitter' %> Twitterでペライチを共有</a>
    </div>
  </div>


  <script>



  </script>


</div>
