<div class="room-list-container">
  <h1>PROJECT ROOM</h1>
  <div class="room-list">
    <% @room_list_posts_and_messages.each do |post_and_message| %>
      <div class="room-item clearfix">
        <%= link_to '', talk_room_path(post_and_message[0].id), class: 'room-link' %>
        <div class="room-icon" style="background-color: <%= post_and_message[0].main_color %>">
          <%= fa_icon (post_icon_of_category(post_and_message[0].category_name)) %>
        </div>
        <div class="room-main">
          <h4 class="room-title"><%= post_and_message[0].title.truncate(17) %></h4>
          <% if post_and_message[1] %>
            <p class="room-message"><%= post_and_message[1].content.truncate(17) %></p>
          <% else %>
            <p class="room-message">メッセージはまだありません</p>
          <% end %>
        </div>
        <% if post_and_message[2] > 0 %>
          <div class="unread-count">
            <span style="background-color: <%= post_and_message[0].main_color %>"><%= post_and_message[2] %></span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
