<div class="talk-room-background"></div>

<div class="talk-room-header clearfix">
  <%= link_to fa_icon('caret-left'), room_list_path, class: 'room-back-btn' %>
  <h1><%= @post.title %></h1>
  <div class="room-header-right-icon" id="room-menu-open-btn">
    <span>●</span>
    <span>●</span>
    <span>●</span>
  </div>
  <div class="room-header-right-icon room-menu-close-btn" id="room-menu-close-btn">
    <%= fa_icon 'times' %>
  </div>
</div>
<div class="talk-room-wrapper" id="talk-room-wrapper">

  <div class="message-list-container" id="group-message-list">
    <%= render 'messages' %>
  </div>

</div>

<%= form_tag create_group_message_path(post_id: @post.id), remote: true, class: "group-message-form" do %>
  <div class="message-form-wrapper">
    <div class="message-form-box">
      <%= image_tag current_user.image %>
      <%= text_area_tag :content, '', id: 'group-message-textarea', placeholder: 'Type message...' %>
      <%= button_tag do %>
        <%= fa_icon 'paper-plane' %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="room-menu" id="room-menu">
  <h3>進捗状況</h3>
  <div class="post-status">

  </div>

  <h3>メンバー</h3>
  <div class="room-member-box">
    <div class="jobtype-box">
      <div class="jobtype-label">
        <span>プランナー</span>
      </div>
      <div class="jobtype-member">
        <% @planners.each do |planner| %>
          <div class="jobtype-member-item">
            <%= link_to user_path(planner) do %>
              <%= image_tag planner.try(:image) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
