<div class="profile-container">
  <div class="profile-header" style="background-color: <%= user_role_color(@user) %>">
    <span><%= user_role(@user) %></span>
    <%= image_tag @user.try(:image) %>
    <% if @user == current_user %>
      <%= link_to 'プロフィール編集', edit_user_path(current_user) %>
    <% end %>
  </div>
  <div class="profile-content">
    <div class="profile-content-box">
      <div class="profile-basic">
        <span class="profile-username"><%= @user.try(:username) %></span>
        <div class="profile-university">
          <span><%= @user.try(:college) %></span>
          <span><%= @user.try(:major) %></span>
        </div>
      </div>

      <% if @user.try(:introduction).present? %>
        <div class="profile-introduction">
          <p>
            <%= @user.try(:introduction) %>
          </p>
        </div>
      <% elsif @user == current_user %>
        <div class="introduction-edit-link">
          <%= link_to edit_user_path(current_user) do %>自己紹介を入力する<% end %>
        </div>
      <% end %>

      <% if @user.try(:url_1).present? || @user.try(:url_1).present? || @user.try(:url_1).present? %>
        <div class="profile-url">
            <h3>参考URL</h3>
            <ul>
              <% [@user.try(:url_1), @user.try(:url_2), @user.try(:url_3)].each do |url| %>
                <% if url.present? %>
                  <li>
                    <span class="url-link"><%= link_to url.truncate(36), url %></span>
                  </li>
                <% end %>
              <% end %>
            </ul>
        </div>
      <% elsif @user == current_user %>
        <div class="url-edit-link">
          <%= link_to edit_user_path(current_user) do %>自分をアピールできる<br>URLを掲載する<% end %>
        </div>
      <% end %>


      <div class="profile-posts">
        <% if @developing_posts.present? %>
          <div class="profile-post-type">
            <h3>現在進行中の企画</h3>
            <% @developing_posts.each do |post| %>
              <div class="profile-post-item clearfix">
                <%= link_to '', post %>
                <div class="profile-post-iconbox" style="background-color: <%= post.main_color %>">
                  <%= fa_icon (post_icon_of_category(post.category_name)) %>
                </div>
                <div class="profile-post-title">
                  <span><%= post.title %><span>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if @planning_posts.present? %>
          <div class="profile-post-type">
            <h3>現在募集中の企画</h3>
            <% @planning_posts.each do |post| %>
              <div class="profile-post-item clearfix">
                <%= link_to '', post %>
                <div class="profile-post-iconbox" style="background-color: <%= post.main_color %>">
                  <%= fa_icon (post_icon_of_category(post.category_name)) %>
                </div>
                <div class="profile-post-title">
                  <span><%= post.title %><span>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if @released_posts.present? %>
          <div class="profile-post-type">
            <h3>過去に参加した企画</h3>
            <% @released_posts.each do |post| %>
              <div class="profile-post-item clearfix">
                <%= link_to '', post %>
                <div class="profile-post-iconbox" style="background-color: <%= post.main_color %>">
                  <%= fa_icon (post_icon_of_category(post.category_name)) %>
                </div>
                <div class="profile-post-title">
                  <span><%= post.title %><span>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

  </div>
  </div>
</div>

<!-- <div>
  <h2>評価</h2>
  <p>項目1: <%= @evaluations['first_evaluated_user'] %>回</p>
  <p>項目2: <%= @evaluations['second_evaluated_user'] %>回</p>
  <p>項目3: <%= @evaluations['third_evaluated_user'] %>回</p>
  <p>項目4: <%= @evaluations['fourth_evaluated_user'] %>回</p>
  <p>項目5: <%= @evaluations['fifth_evaluated_user'] %>回</p>
</div> -->
