<div class="login-page-wrapper">
  <div class="warning-message">
    <p>＊学校に在籍している方以外の登録はできません。それ以外の方はアカウント削除の対象となりますので、ご注意ください。</p>
  </div>
  <div class="login-btn-wrapper">
    <%= link_to user_facebook_omniauth_authorize_path, class: "fb-button" do %>
        <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
        <h4>Facebookで登録/ログイン</h4>
    <% end %>
    <%= link_to sign_up_path, class: "email-sign-up-button" do %>
        <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
        <h4>メールアドレスで新規登録</h4>
    <% end %>
  </div>
  <p class="description">またはメールアドレスでログイン</p>
  <div class="login-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-wrapper">
          <i class="fa fa-user fa-lg" aria-hidden="true"></i>
          <%= f.email_field :email, :placeholder => "メールアドレス", autofocus: true %>
        </div>

        <div class="input-wrapper">
          <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
          <%= f.password_field :password, :placeholder => "パスワード", autocomplete: "off" %>
        </div>

        <div class="submit">
          <%= f.submit "ログイン" %>
        </div>
    <% end %>
  </div>
</div>
