<div class="comment-count">
  <span>コメント(<%= @comments.count %>)</span>
</div>

<div class="comment-list-wrapper" >
  <% @comments.each do |comment| %>
    <div class="post-comment clearfix">
      <div class="comment-userimage-box">
        <%= link_to user_path(comment.user) do %>
          <%= image_tag comment.user.image %>
        <% end %>
      </div>
      <div class="comment-box">
        <div class="comment-info">
          <span class="comment-username"><%= comment.user.username %></span>
        </div>
        <div class="comment-content" style="<%= comment_color_style(comment) %>">
          <%= comment.content %>
          <div class=""></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
