<%= form_with(model: post, multipart: true, remote: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="field">
      <div class="actions">
        <%= form.submit '下書きに保存', name:'' %>
        <%= form.submit '投稿する'%>
      </div>
    </div>

    <div class="remodal" data-remodal-id="modal">
      <div class="post-preview-modal" id="post-preview-modal">

         <div id='post-preview-template'>
          <h3 id="post-preview-title"></h3>
          <p id="post-preview-outline"></p>
          <p id="post-preview-detail"></p>
        </div>

          <h3>あなたのペライチが完成しました！<br />
              みんなに応援してもらいましょう！</h3>
          <label class="sns-label"><%= fa_icon 'facebook-official' %><%= check_box_tag :facebook, 'facebook', checked: true %></label>
          <label class="sns-label"><%= fa_icon 'twitter' %><%= check_box_tag :twitter, 'twitter', checked: true %></label>
       </div>
     </div>

      <div class="post-after-modal" id="post-private-modal">
        <p>下書きを保存しました</p>
        <div>
          <%= link_to 'OK', posts_path, class: "post-modal-ok-btn" %>
        </div>
      </div>


    </div>

    <div id="template-format-wrap" class="template-format-wrap">
      <div id="template-format-filter" class="template-format-filter"></div>
      <div id="template-format" class="template-format" style="background-image:url('<%= @templates.first.image %>')">
      <div class="field">
        <%= form.text_field :title, id: :post_title, placeholder: 'タイトル' %>
      </div>

      <div class="field">
        <%= form.text_area :outline, id: :post_outline, placeholder: '概要' %>
      </div>

      <div class="field">
        <%= form.text_area :detail, id: :post_detail, placeholder: '詳細' %>
      </div>

      <div class="field">
        <%= form.label :image, '画像を挿入' %>
        <%= form.file_field :image, id: :post_image %>
      </div>

      <div class="field">
        <%= form.label :num_of_planner %>
        <%= form.number_field :num_of_planner, id: :post_num_of_planner, min: 0 %>
      </div>

      <div class="field">
        <%= form.label :num_of_engineer %>
        <%= form.number_field :num_of_engineer, id: :post_num_of_engineer, min: 0 %>
      </div>

      <div class="field">
        <%= form.label :num_of_designer %>
        <%= form.number_field :num_of_designer, id: :post_num_of_designer, min: 0 %>
      </div>
    </div>
    </div>

      <div class="field template-list-wrapper">
        <div class="template-list">
          <% @templates.each_with_index do |template, index| %>
              <% if index == 0 %>
                  <div class="template-item" id="<%= template.id %>", style="background-image: url(<%= template.image %>);">
                    <span class="template-name template-item-selected"></span>
                    テンプレート no.<%= template.id %>
                  </div>
              <% else %>
                  <div class="template-item" id="<%= template.id %>", style="background-image: url(<%= template.image %>);">
                    <span class="template-name"></span>
                    テンプレート no.<%= template.id %>
                  </div>
              <% end %>
          <% end %>
        </div>
        <%= form.hidden_field :template_id, id: :post_template_id, value: 1 %>
      </div>

<% end %>


<script>
  $(function() {
    $('.template-item').click(function() {
      $('.template-name').removeClass('template-item-selected');
      $(this).find('.template-name').addClass('template-item-selected')
      $('#post_template_id').val($(this).attr('id'));
      $('.template-format').css({
          'background-image': this.getAttribute('style').split(' ')[1].replace(';',''),
      })
    });

  });
</script>
