


    <ul class="new-post-slider">
      <li>
        <div class="title-field">
          <input type="text" id="title-data" placeholder="タイトル" />
        </div>
        <div class="detail-field">
          <textarea type="text" id="detail-data" placeholder="詳細" ></textarea>
        </div>
      </li>
      <li>

        <p>募集職種</p>

        <div class="post-jobtype-form">
          <div class="post-jobtype-field">
            <span class="jobtype-name">プランナー</span>
            <div class="jobtype-num-box">
              <span class="jobtype-minus-btn disabled"><%= fa_icon 'minus-circle' %></span>
              <span class="jobtype-num">0</span>
              <span class="jobtype-plus-btn"><%= fa_icon 'plus-circle' %></span>
            </div>
          </div>

          <div class="post-jobtype-field">
            <span class="jobtype-name">エンジニア</span>
            <div class="jobtype-num-box">
              <span class="jobtype-minus-btn disabled"><%= fa_icon 'minus-circle' %></span>
              <span class="jobtype-num">0</span>
              <span class="jobtype-plus-btn"><%= fa_icon 'plus-circle' %></span>
            </div>
          </div>

          <div class="post-jobtype-field">
            <span class="jobtype-name">デザイナー</span>
            <div class="jobtype-num-box">
              <span class="jobtype-minus-btn disabled"><%= fa_icon 'minus-circle' %></span>
              <span class="jobtype-num">0</span>
              <span class="jobtype-plus-btn"><%= fa_icon 'plus-circle' %></span>
            </div>
          </div>
        </div>


      </li>
      <li>
        <%= form_with(model: post, multipart: true, remote: true) do |form| %>
            <% if post.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

                  <ul>
                    <% post.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>



                  <%= form.hidden_field :title, id: :post_title, placeholder: 'タイトル' %>
                  <%= form.hidden_field :outline, id: :post_outline, placeholder: '概要' %>
                  <%= form.hidden_field :detail, id: :post_detail, placeholder: '詳細' %>

            <div class="post-form-container">
              <div class="post-image-field">
                <%= form.label :image, '画像を挿入' %>
                <%= form.file_field :image, id: :post_image %>
              </div>

              <p>募集職種</p>

                    <%= form.hidden_field :num_of_planner, id: :post_num_of_planner, class: 'jobtype-hidden', value: 0 %>
                    <%= form.hidden_field :num_of_engineer, id: :post_num_of_engineer, class: 'jobtype-hidden', value: 0 %>
                    <%= form.hidden_field :num_of_designer, id: :post_num_of_designer, class: 'jobtype-hidden', value: 0 %>

              <div class="preview-btn-box">
                <span class="show-preview-btn" id="show-modal">プレビュー</span>
              </div>
              <div class="submit-btn-box">
                <%= form.submit '下書きに保存', name:'', class:'show-private-btn' %>
                <%= form.submit '投稿する', class:'show-public-btn' %>
              </div>
      </li>
    </ul>

<% end %>



        <div class="remodal" data-remodal-id="modal">
          <div class="post-preview-modal" id="post-preview-modal">

            <h3>ペライチが完成しました！<br />
              みんなに応援してもらいましょう！</h3>
            <div id='post-preview-template'>
              <h4 id="post-preview-title"></h4>
              <p id="post-preview-outline"></p>
              <p id="post-preview-detail"></p>
            </div>

            <a class="sns-label-fb"><%= fa_icon 'facebook-official' %> Facebookでペライチを共有</a>
            <a class="sns-label-tw"><%= fa_icon 'twitter' %> Twitterでペライチを共有</a>
          </div>
        </div>


<script>
  $(function() {

    $('.template-item').click(function() {
      $('.template-name').removeClass('template-item-selected');
      $(this).find('.template-name').addClass('template-item-selected')
      $('#post_template_id').val($(this).attr('id'));
      $('.template-format').css({
          'background-image': this.getAttribute('style').split(' ')[1].replace(';',''),
      });
      $('#post-preview-template').css({
        'background-image': this.getAttribute('style').split(' ')[1].replace(';',''),
        'width': '350px',
        'height': '200px',
        'margin': '0 auto',
        'background-size': 'cover',
        'border-radius': '5px',
      });
    });

    $('#post_title').change(function() {
      $('#post-preview-title').text($('#post_title').val());
    });
    $('#post_outline').change(function() {
      $('#post-preview-outline').text($('#post_outline').val());
    });
    $('#post_detail').change(function() {
      $('#post-preview-detail').text($('#post_detail').val());
    });

    $('#close-modal').click(function() {
      $('#post-modal-wrapper').css('display', 'none');
    });

    $('.jobtype-minus-btn').click(function() {
      var $hidden = $(this).siblings('.jobtype-hidden')
      if (Number($(this).siblings('.jobtype-num').text()) > 0 ) {
        $(this).siblings('.jobtype-num').text(Number($(this).siblings('.jobtype-num').text()) - 1);
      } else {

      }
      if (Number($(this).siblings('.jobtype-num').text()) == 0) {
        $(this).addClass('disabled');
      }
    })

    $('.jobtype-plus-btn').click(function() {
      var $minusBtn = $(this).siblings('.jobtype-minus-btn');
      if (Number($(this).siblings('.jobtype-num').text()) < 10 ) {
        $(this).siblings('.jobtype-num').text(Number($(this).siblings('.jobtype-num').text()) + 1);
      } else {

      }
      if ($minusBtn.hasClass('disabled')) {
        $minusBtn.removeClass('disabled');
      }
    })
  });
</script>
