<section class="top-top5s clearfix">
  <h2>TOP5</h2>
  <ul class="posts">
  </ul>
</section>


<section class="top-posts clearfix">
  <h2>最新のペライチ</h2>
  <%= link_to 'planner', search_posts_path(sort:'planner') %>
  <%= link_to 'engineer', search_posts_path(sort:'engineer') %>
  <%= link_to 'designer', search_posts_path(sort:'designer') %>

<ul class="posts">
  <% @posts.each do |post| %>
      <li id="post" class="posts-post">
        <div class="posts-post-text">
          <div class="posts-post-text_title"><%= link_to post.title, post %></div>
          <div class="posts-post-text_outline"><%= post.outline %></div>
          <!--<div class="posts-post-text_detail"><%= post.detail %></div>-->
          <div class="posts-post-text_published"><%= (post.published) ? "下書き" : "公開" %></div>
          <div class="posts-post-text_status"><%= post.status %></div>
        </div>
      </li>
  <% end %>
</ul>
</section>
