<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<ul class="posts">
  <% @posts.each do |post| %>
      <li class="posts-post">
        <div class="posts-post_image"><%= link_to image_tag(post.image), post %></div>
        <div class="posts-post_title"><%= link_to post.title, post %></div>
        <div class="posts-post_outline"><%= post.outline %></div>
        <div class="posts-post_detail"><%= post.detail %></div>
        <div class="posts-post_template_id"><%= post.template_id %></div>
        <div class="posts-post_published"><%= (post.published) ? "下書き" : "公開" %></div>
        <div class="posts-post_status"><%= post.status %></div>
      </li>
  <% end %>
</ul>
