<head>
  <meta property="og:title" content="<%= @post.title %>">
  <meta property="og:description" content="<%= @post.detail %>">
  <meta property="og:image" content="<%= @post.image %>">
  <meta property="og:url" content="<%= post_url %>/">
  <meta property="og:type" content="article">
</head>

<div class="post-show-container">
  <div class="post-header" style="background-color:<%= @post.main_color%>">
    <%= link_to fa_icon('times-circle-o'), root_path, class: 'post-show-back-btn' %>
    <%= fa_icon (post_icon_of_category(@post.category_name)), class: 'post-show-icon' %>
    <% if @self_member_info && @self_member_info.accepted == true %>
      <%= link_to 'ルームへ', talk_room_path(@post), class: 'post-room-link-btn' %>
    <% end %>
    <h1><%= @post.title %></h1>
  </div>

  <div class="post-content">

    <div class="post-status">
      <div class="status-line"></div>
      <div class="status-box">
        <div class="status-planning<%= post_status_active_class(@post, 'planning') %>">
          <i class="status-icon show-status-icon" style="color: <%= post_status_color(@post, 'planning') %>"></i>
          <span class="status-label" style="color: <%= post_status_color(@post, 'planning') %>">募集中</span>
        </div>
        <div class="status-development<%= post_status_active_class(@post, 'development') %>">
          <i class="status-icon show-status-icon" style="color: <%= post_status_color(@post, 'development') %>"></i>
          <span class="status-label" style="color: <%= post_status_color(@post, 'development') %>">開発中</span>
        </div>
        <div class="status-release<%= post_status_active_class(@post, 'release') %>">
          <i class="status-icon show-status-icon" style="color: <%= post_status_color(@post, 'release') %>"></i>
          <span class="status-label" style="color: <%= post_status_color(@post, 'release') %>">リリース</span>
        </div>
      </div>
      <% if @self_member_info && @self_member_info.accepted == true %>
        <div class="status-next-btn-warpper">
          <% if @post.status == 'release' %>
            <span class="next-btn next-btn-disabled">リリース済み</span>
          <% else %>
            <% if @founder == current_user %>
              <%= link_to '次のフローへ', next_status_post_path(@post), method: :post, class: 'next-btn', style: "background-color: #{@post.main_color}", data: {confirm: '一度進むと前のフローには戻れません。よろしいですか？'} %>
            <% else %>
              <span class="next-btn next-btn-disabled">次のフローへ</span>
            <% end %>
            <span class="status-message">※この操作は投稿者だけが行えます</span>
          <% end %>
        </div>
      <% end %>
    </div>

    <p class="post-detail">
      <%= @post.detail %>
    </p>

    <div class="post-images">
      <div class="post-image-box">
        <% if @post.image.present? %>
          <div class="post-image-item">
            <%= image_tag @post.image %>
          </div>
        <% end %>
        <% if @post.image_2.present? %>
          <div class="post-image-item">
            <%= image_tag @post.image_2 %>
          </div>
        <% end %>
        <% if @post.image_3.present? %>
          <div class="post-image-item">
            <%= image_tag @post.image_3 %>
          </div>
        <% end %>
      </div>
    </div>

    <hr>

    <h2><%= fa_icon 'fire' %>ガチ度</h2>
    <div class="post-commitment">
      <ul class="commitment-item-box">
        <li><span>気軽に制作</span></li>
        <li class="commitment-item"><i class="commitment-icon" style="color:<%= @post.main_color%>"></i></li>
        <li class="commitment-item"><i class="commitment-icon" style="color:<%= @post.main_color%>"></i></li>
        <li class="commitment-item"><i class="commitment-icon" style="color:<%= @post.main_color%>"></i></li>
        <li class="commitment-item commitment-item-active"><i class="commitment-icon" style="color:<%= @post.main_color%>"></i></li>
        <li class="commitment-item"><i class="commitment-icon" style="color:<%= @post.main_color%>"></i></li>
        <li><span>ガチで制作</span></li>
      </ul>
    </div>

    <div class="post-term-scale-wrap clearfix">

    <div class="post-term-wrap">
      <h2><%= fa_icon 'clock-o' %>目標制作期間</h2>
      <div class="post-term">
        <div class="post_period_data_sub" style="color:<%= @post.main_color%>">
          <%= @post.period %>
        </div>
      </div>
    </div>


    <div class="post-scale-wrap">
      <h2><%= fa_icon 'users' %>開発規模</h2>
      <div class="post-scale">
        <div class="post_scale_data_sub" style="color:<%= @post.main_color%>">
          <%= @post.scale %>
        </div>
      </div>
    </div>

    </div>

    <h2><%= fa_icon 'pencil' %>募集役割</h2>
    <div class="post-jobtype">
      <div class="jobtype-icon-list-box">
        <% if @post.num_of_planner != 0 %>
            <div class="jobtype-icon-list">
              <div class="jobtype-icon-box">
                <% @post.num_of_planner.times do %>
                  <%= fa_icon 'male', class: 'jobtype-icon planner-icon', style:"color:#{@post.main_color}" %>
                <% end %>
              </div>
            </div>
        <% end %>
        <% if @post.num_of_engineer != 0 %>
            <div class="jobtype-icon-list">
              <div class="jobtype-icon-box">
                <% @post.num_of_engineer.times do %>
                  <%= fa_icon 'male', class: 'jobtype-icon engineer-icon', style:"color:#{@post.main_color}" %>
                <% end %>
              </div>
            </div>
        <% end %>
        <% if @post.num_of_designer != 0 %>
            <div class="jobtype-icon-list">
              <div class="jobtype-icon-box">
                <% @post.num_of_designer.times do %>
                  <%= fa_icon 'male', class: 'jobtype-icon designer-icon', style:"color:#{@post.main_color}" %>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>

      <div class="jobtype-label-box">
        <% if @post.num_of_planner != 0 %>
          <span>プランナー</span>
        <% end %>
        <% if @post.num_of_engineer != 0 %>
          <span>エンジニア</span>
        <% end %>
        <% if @post.num_of_designer != 0 %>
          <span>デザイナー</span>
        <% end %>
      </div>

      <% if @post.status == 'planning' %>
        <div class="jobtype-select">
          <div class="jobtype-select-table">
            <% if @post.num_of_planner != 0 %>
              <div class="jobtype-select-cell">
                <% if @self_member_info %>
                  <% if @self_member_info.job_type == 0 && @self_member_info.accepted == true %>
                    <span class="post-join-btn join-btn-disabled">参加中</span>
                  <% elsif @self_member_info.job_type == 0 && @self_member_info.accepted == false %>
                    <span class="post-join-btn join-btn-disabled">申請中</span>
                  <% else %>
                    <span class="post-join-btn-fake"></span>
                  <% end %>
                <% else %>
                  <% if TeamMember.where(post_id: @post.id, job_type: 0, accepted: true).count >= @post.num_of_planner %>
                    <span class="post-join-btn join-btn-disabled">満員</span>
                  <% else %>
                    <%= link_to '参加申請', join_post_path(job_type: 0), method: :post, data: { confirm: 'プランナーとしての参加を申請しますか？' }, class: 'post-join-btn', style: "background-color: #{@post.main_color};" %>
                  <% end %>
                <% end %>
              </div>
            <% end %>

            <% if @post.num_of_engineer != 0 %>
              <div class="jobtype-select-cell">
                <% if @self_member_info %>
                  <% if @self_member_info.job_type == 1 && @self_member_info.accepted == true %>
                    <span class="post-join-btn join-btn-disabled">参加中</span>
                  <% elsif @self_member_info.job_type == 1 && @self_member_info.accepted == false %>
                    <span class="post-join-btn join-btn-disabled">申請中</span>
                  <% else %>
                    <span class="post-join-btn-fake"></span>
                  <% end %>
                <% else %>
                  <% if TeamMember.where(post_id: @post.id, job_type: 1, accepted: true).count >= @post.num_of_engineer %>
                    <span class="post-join-btn join-btn-disabled">満員</span>
                  <% else %>
                    <%= link_to '参加申請', join_post_path(job_type: 1), method: :post, data: { confirm: 'エンジニアとしての参加を申請しますか？' }, class: 'post-join-btn', style: "background-color: #{@post.main_color};" %>
                  <% end %>
                <% end %>
              </div>
            <% end %>

            <% if @post.num_of_designer != 0 %>
              <div class="jobtype-select-cell">
                <% if @self_member_info %>
                  <% if @self_member_info.job_type == 2 && @self_member_info.accepted == true %>
                    <span class="post-join-btn join-btn-disabled">参加中</span>
                  <% elsif @self_member_info.job_type == 2 && @self_member_info.accepted == false %>
                    <span class="post-join-btn join-btn-disabled">申請中</span>
                  <% else %>
                    <span class="post-join-btn-fake"></span>
                  <% end %>
                <% else %>
                  <% if TeamMember.where(post_id: @post.id, job_type: 2, accepted: true).count >= @post.num_of_designer %>
                    <span class="post-join-btn join-btn-disabled">満員</span>
                  <% else %>
                    <%= link_to '参加申請', join_post_path(job_type: 2), method: :post, data: { confirm: 'デザイナーとしての参加を申請しますか？' }, class: 'post-join-btn', style: "background-color: #{@post.main_color};" %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <!-- <p>
      <% if @post.user_id == current_user.id %>
        あなたは企画者です！
        <% if TeamMember.find_by(post_id: @post.id, accepted: false) %>
          参加申請者は以下
          <% @requests.each do |request| %>
            <%= link_to request.user, approve_post_path(from_user: request.user.id) %>
          <% end %>
        <% elsif TeamMember.find_by(post_id: @post.id, accepted: true) %>
          参加申込はありません
        <% end %>
      <% elsif TeamMember.find_by(post_id: @post.id, user_id: current_user.id, accepted: false) %>
        <%= link_to '参加申請を取り消す', leave_post_path, method: :delete, data: { confirm: 'この企画のチームを抜けますか？' } %>
      <% end %>
    </p> -->

    <% if @founder == current_user %>
      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>

  <div class="post-footer">
    <div class="post-footer-box clearfix">
      <div class="post-founder-wrapper clearfix">
        <div class="post-founder-img">
          <%= link_to user_path(@founder) do %>
            <%= image_tag @founder.try(:image) %>
          <% end %>
        </div>
        <div class="post-founder-info">
          <span class="post-founder-name"><%= link_to @founder.try(:username), @founder %></span>
        </div>
      </div>
      <div class="post-footer-vote">
        <span class="post-share-btn"><%= fa_icon 'share-alt', class: 'modal-support-btn', style: "color: #{@post.main_color}", data: {post_id: @post.id, url: post_url(@post)} %></span>
          <% if Vote.find_by(user_id: current_user,post_id:@post,support:true).present? %>
            <%= link_to fa_icon('heart'), support_post_path(@post), method: :post, data: { confirm: 'この企画の応援をやめますか？' }, class: 'post-vote-heart heart-active', style: "color: #{@post.main_color}" %>
          <% else %>
            <%= link_to fa_icon('heart-o'), support_post_path(@post), method: :post, data: { confirm: 'この企画を応援しますか？' }, class: 'post-vote-heart', style: "color: #{@post.main_color}" %>
          <% end %>
        <span class="post-vote-count" style="color:<%= @post.main_color%>"><%= Vote.where(post_id: @post, support: true).count %></span>
      </div>
    </div>
  </div>
</div>

<div class="share-modal-overlay" id="share-modal-overlay">
  <div class="share-modal" id="share-modal">
    <a href="" class="modal-support-btn-fb" id="modal-support-btn-fb" onclick="window.open(this.href, 'snswindow', 'width=550,height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><%= fa_icon 'facebook-square' %>Facebookで応援する</a>
    <a href="" class="modal-support-btn-tw" id="modal-support-btn-tw" onclick="window.open(this.href, 'snswindow', 'width=550,height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><%= fa_icon 'twitter' %>Twitterで応援する</a>
  </div>
</div>

<!-- <div class="remodal post-share-modal" data-remodal-id="<% @post.id %>">
  <%= link_to '応援する', support_post_path(@post), method: :post, data: { confirm: 'この企画を応援しますか？' }, id:"modal-support-btn-default" %>
  <a href="http://www.facebook.com/sharer.php?u=<%=  post_url %>" class="modal-support-btn-fb" onclick="window.open(this.href, 'snswindow', 'width=550,height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><%= fa_icon 'facebook-square' %>Facebookで応援する</a>
  <a href="http://twitter.com/share?url=<%=  post_url %>" class="modal-support-btn-tw" onclick="window.open(this.href, 'snswindow', 'width=550,height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><%= fa_icon 'twitter' %>Twitterで応援する</a>
</div> -->

<div class="comment-list-container">

  <div id="comment-list">
    <%= render 'comments' %>
  </div>

  <%= form_tag create_comment_post_path(@post), remote: true, class: 'comment-form' do %>
    <%= text_area_tag :content, '', placeholder: 'コメントを入力', id: 'comment-texrarea' %>
    <%= button_tag do %>
      <%= fa_icon 'paper-plane', style: "color: #{@post.main_color}" %>
    <% end %>
  <% end %>
</div>
