<head>
  <meta property="og:title" content="<%= @post.title %>">
  <meta property="og:description" content="<%= @post.detail %>">
  <meta property="og:image" content="<%= @post.image %>">
  <meta property="og:url" content="<%= post_url %>/">
  <meta property="og:type" content="article">
</head>

<div class="post-show-container">
  <div class="post-header" style="background-color:<%= @post.main_color%>">
    <%= link_to fa_icon('times-circle-o'), root_path, class: 'post-show-back-btn' %>
    <%= fa_icon (post_icon_of_category(@post.category_name)), class: 'post-show-icon' %>
    <% if @self_member_info && @self_member_info.accepted == true %>
      <%= link_to 'ルームへ', talk_room_path(@post), class: 'post-room-link-btn' %>
    <% end %>
    <h1><%= @post.title %></h1>
  </div>

  <div class="post-content">

        <!-- <p>
          <% if @post.user_id == current_user.id %>
            <% if TeamMember.find_by(post_id: @post.id, accepted: false) %>
              参加申請者は以下
              <% @requests.each do |request| %>
                <%= request.user.username %><%= link_to '承認する', approve_post_path(from_user: request.user.id) %>
              <% end %>
            <% elsif TeamMember.find_by(post_id: @post.id, accepted: true) %>
              参加申込はありません
            <% end %>
          <% elsif TeamMember.find_by(post_id: @post.id, user_id: current_user.id, accepted: false) %>
            <%= link_to '参加申請を取り消す', leave_post_path, method: :delete, data: { confirm: 'この企画のチームを抜けますか？' } %>
          <% elsif TeamMember.find_by(post_id: @post.id, user_id: current_user.id, accepted: true) %>
            <%= link_to '抜ける', leave_post_path, method: :delete, data: { confirm: 'この企画のチームを抜けますか？' } %>
          <% end %>
        </p> -->

    <% if @founder == current_user %>
      <% if @requests.present? %>
        <div class="request-open-btn-wrapper">
          <span class="request-open-btn" id="request-open-btn">
            参加申請が <%= @requests.count %>件届いています
          </span>
        </div>
      <% end %>

      <div class="post-operation">
        <div class="post-operation-cell">
          <%= link_to edit_post_path(@post) do %>
            <%= fa_icon 'pencil' %>企画を編集
          <% end %>
        </div>
        <div class="post-operation-cell">
          <%= link_to @post, method: :delete, data: { confirm: '本当に削除しますか？' } do %>
            <%= fa_icon 'trash' %>企画を削除
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="post-status">
      <div class="status-line"></div>
      <div class="status-box">
        <div class="status-planning<%= post_status_active_class(@post, 'planning') %>">
          <i class="status-icon show-status-icon" style="color: <%= post_status_color(@post, 'planning') %>"></i>
          <span class="status-label" style="color: <%= post_status_color(@post, 'planning') %>">募集中</span>
        </div>
        <div class="status-development<%= post_status_active_class(@post, 'development') %>">
          <i class="status-icon show-status-icon" style="color: <%= post_status_color(@post, 'development') %>"></i>
          <span class="status-label" style="color: <%= post_status_color(@post, 'development') %>">開発中</span>
        </div>
        <div class="status-release<%= post_status_active_class(@post, 'release') %>">
          <i class="status-icon show-status-icon" style="color: <%= post_status_color(@post, 'release') %>"></i>
          <span class="status-label" style="color: <%= post_status_color(@post, 'release') %>">リリース</span>
        </div>
      </div>
      <% if @self_member_info && @self_member_info.accepted == true %>
        <div class="status-next-btn-warpper">
          <% if @post.status == 'release' %>
            <span class="next-btn next-btn-disabled">リリース済み</span>
          <% else %>
            <% if @founder == current_user %>
              <%= link_to '次のフローへ', next_status_post_path(@post), method: :post, class: 'next-btn', style: "background-color: #{@post.main_color}", data: {confirm: '一度進むと前のフローには戻れません。よろしいですか？'} %>
            <% else %>
              <span class="next-btn next-btn-disabled">次のフローへ</span>
            <% end %>
            <span class="status-message">※この操作は投稿者だけが行えます</span>
          <% end %>
        </div>
      <% end %>
    </div>

    <p class="post-detail">
      <%= @post.detail %>
    </p>

    <div class="post-images">
      <div class="post-image-box">
        <% if @post.image.present? %>
          <div class="post-image-item">
            <%= image_tag @post.image %>
          </div>
        <% end %>
        <% if @post.image_2.present? %>
          <div class="post-image-item">
            <%= image_tag @post.image_2 %>
          </div>
        <% end %>
        <% if @post.image_3.present? %>
          <div class="post-image-item">
            <%= image_tag @post.image_3 %>
          </div>
        <% end %>
      </div>
    </div>

    <hr>

    <h2><%= fa_icon 'fire' %>ガチ度</h2>
    <div class="post-commitment">
      <ul class="commitment-item-box">
        <li><span>気軽に制作</span></li>
        <li class="commitment-item<%= post_motivation_active_class(@post, 0) %>"><i class="commitment-icon" style="color:<%= post_motivation_color(@post, 0) %>"></i></li>
        <li class="commitment-item<%= post_motivation_active_class(@post, 1) %>"><i class="commitment-icon" style="color:<%= post_motivation_color(@post, 1) %>"></i></li>
        <li class="commitment-item<%= post_motivation_active_class(@post, 2) %>"><i class="commitment-icon" style="color:<%= post_motivation_color(@post, 2) %>"></i></li>
        <li class="commitment-item<%= post_motivation_active_class(@post, 3) %>"><i class="commitment-icon" style="color:<%= post_motivation_color(@post, 3) %>"></i></li>
        <li class="commitment-item<%= post_motivation_active_class(@post, 4) %>"><i class="commitment-icon" style="color:<%= post_motivation_color(@post, 4) %>"></i></li>
        <li><span>ガチで制作</span></li>
      </ul>
    </div>

    <div class="post-term-scale-wrap clearfix">

    <div class="post-term-wrap">
      <h2><%= fa_icon 'clock-o' %>目標制作期間</h2>
      <div class="post-term">
        <div class="post_period_data_sub" style="color:<%= @post.main_color%>">
          <%= @post.period %>
        </div>
      </div>
    </div>


    <div class="post-scale-wrap">
      <h2><%= fa_icon 'users' %>開発規模</h2>
      <div class="post-scale">
        <div class="post_scale_data_sub" style="color:<%= @post.main_color%>">
          <%= @post.scale %>
        </div>
      </div>
    </div>

    </div>

    <h2><%= fa_icon 'pencil' %>募集役割</h2>
    <div class="post-jobtype">
      <div class="jobtype-icon-list-box">
        <% if @post.num_of_planner != 0 %>
            <div class="jobtype-icon-list">
              <div class="jobtype-icon-box">
                <% @post.num_of_planner.times do %>
                  <%= fa_icon 'male', class: 'jobtype-icon planner-icon', style:"color:#{@post.main_color}" %>
                <% end %>
              </div>
            </div>
        <% end %>
        <% if @post.num_of_engineer != 0 %>
            <div class="jobtype-icon-list">
              <div class="jobtype-icon-box">
                <% @post.num_of_engineer.times do %>
                  <%= fa_icon 'male', class: 'jobtype-icon engineer-icon', style:"color:#{@post.main_color}" %>
                <% end %>
              </div>
            </div>
        <% end %>
        <% if @post.num_of_designer != 0 %>
            <div class="jobtype-icon-list">
              <div class="jobtype-icon-box">
                <% @post.num_of_designer.times do %>
                  <%= fa_icon 'male', class: 'jobtype-icon designer-icon', style:"color:#{@post.main_color}" %>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>

      <div class="jobtype-label-box">
        <% if @post.num_of_planner != 0 %>
          <span>プランナー</span>
        <% end %>
        <% if @post.num_of_engineer != 0 %>
          <span>エンジニア</span>
        <% end %>
        <% if @post.num_of_designer != 0 %>
          <span>デザイナー</span>
        <% end %>
      </div>

      <% if @post.status == 'planning' %>
        <div class="jobtype-select">
          <div class="jobtype-select-table">
            <% if @post.num_of_planner != 0 %>
              <div class="jobtype-select-cell">
                <% if @self_member_info %>
                  <% if @self_member_info.job_type == 0 && @self_member_info.accepted == true %>
                    <span class="post-join-btn join-btn-disabled">参加中</span>
                  <% elsif @self_member_info.job_type == 0 && @self_member_info.accepted == false %>
                    <%= link_to '申請取消', cancel_post_path(@post), method: :delete, data: { confirm: '参加申請を解除しますか？' }, class: 'post-join-btn join-btn-disabled' %>
                  <% else %>
                    <span class="post-join-btn-fake"></span>
                  <% end %>
                <% else %>
                  <% if TeamMember.where(post_id: @post.id, job_type: 0, accepted: true).count >= @post.num_of_planner %>
                    <span class="post-join-btn join-btn-disabled">満員</span>
                  <% else %>
                    <%= link_to '参加申請', join_post_path(job_type: 0), method: :post, data: { confirm: 'プランナーとしての参加を申請しますか？' }, class: 'post-join-btn', style: "background-color: #{@post.main_color};" %>
                  <% end %>
                <% end %>
              </div>
            <% end %>

            <% if @post.num_of_engineer != 0 %>
              <div class="jobtype-select-cell">
                <% if @self_member_info %>
                  <% if @self_member_info.job_type == 1 && @self_member_info.accepted == true %>
                    <span class="post-join-btn join-btn-disabled">参加中</span>
                  <% elsif @self_member_info.job_type == 1 && @self_member_info.accepted == false %>
                    <%= link_to '申請取消', cancel_post_path(@post), method: :delete, data: { confirm: '参加申請を解除しますか？' }, class: 'post-join-btn join-btn-disabled' %>
                  <% else %>
                    <span class="post-join-btn-fake"></span>
                  <% end %>
                <% else %>
                  <% if TeamMember.where(post_id: @post.id, job_type: 1, accepted: true).count >= @post.num_of_engineer %>
                    <span class="post-join-btn join-btn-disabled">満員</span>
                  <% else %>
                    <%= link_to '参加申請', join_post_path(job_type: 1), method: :post, data: { confirm: 'エンジニアとしての参加を申請しますか？' }, class: 'post-join-btn', style: "background-color: #{@post.main_color};" %>
                  <% end %>
                <% end %>
              </div>
            <% end %>

            <% if @post.num_of_designer != 0 %>
              <div class="jobtype-select-cell">
                <% if @self_member_info %>
                  <% if @self_member_info.job_type == 2 && @self_member_info.accepted == true %>
                    <span class="post-join-btn join-btn-disabled">参加中</span>
                  <% elsif @self_member_info.job_type == 2 && @self_member_info.accepted == false %>
                    <%= link_to '申請取消', cancel_post_path(@post), method: :delete, data: { confirm: '参加申請を解除しますか？' }, class: 'post-join-btn join-btn-disabled' %>
                  <% else %>
                    <span class="post-join-btn-fake"></span>
                  <% end %>
                <% else %>
                  <% if TeamMember.where(post_id: @post.id, job_type: 2, accepted: true).count >= @post.num_of_designer %>
                    <span class="post-join-btn join-btn-disabled">満員</span>
                  <% else %>
                    <%= link_to '参加申請', join_post_path(job_type: 2), method: :post, data: { confirm: 'デザイナーとしての参加を申請しますか？' }, class: 'post-join-btn', style: "background-color: #{@post.main_color};" %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

  </div>

  <div class="post-footer">
    <div class="post-footer-box clearfix">
      <div class="post-founder-wrapper clearfix">
        <div class="post-founder-img">
          <%= link_to user_path(@founder) do %>
            <%= image_tag @founder.try(:image) %>
          <% end %>
        </div>
        <div class="post-founder-info">
          <span class="post-founder-name"><%= link_to @founder.try(:username), @founder %></span>
        </div>
      </div>
      <div class="post-footer-vote">
        <span class="post-share-btn"><%= fa_icon 'share-alt', class: 'modal-support-btn', style: "color: #{@post.main_color}", data: {post_id: @post.id, url: post_url(@post)} %></span>
        <% if Vote.find_by(user_id: current_user, post_id: @post, support: true).present? %>
            <a href="javascript:void(0);" class="post-vote-heart heart-active" data-id="<%= @post.id %>"><%= fa_icon('heart') %></a>
        <% else %>
            <a href="javascript:void(0);" class="post-vote-heart" data-id="<%= @post.id %>"><%= fa_icon('heart-o') %></a>
        <% end %>
        <span class="post-vote-count" style="color:<%= @post.main_color%>"><%= Vote.where(post_id: @post, support: true).count %></span>
      </div>
    </div>
  </div>
</div>

<div class="comment-list-container">

  <div id="comment-list">
    <%= render 'comments' %>
  </div>

  <%= form_tag create_comment_post_path(@post), remote: true, class: 'comment-form' do %>
    <%= text_area_tag :content, '', placeholder: 'コメントを入力', id: 'comment-texrarea' %>
    <%= button_tag do %>
      <%= fa_icon 'paper-plane', style: "color: #{@post.main_color}" %>
    <% end %>
  <% end %>
</div>

<% if @requests.present? %>
  <div class="remodal request-remodal" data-request-modal="request-modal">
    <div class="request-list">
      <% @requests.each do |request| %>
        <div class="request-item">
          <div class="request-user-wrapper clearfix">
            <div class="request-user-img">
              <%= link_to user_path(request.user), class: "request-remodal-close-action" do %>
                <%= image_tag request.user.try(:image) %>
              <% end %>
            </div>
            <div class="request-user-info">
              <span class="request-user-jobtype" style="background-color: <%= request_user_jobtype_color(request) %>;"><%= request_user_jobtype(request) %></span>
              <span class="request-user-name request-remodal-close-action"><%= link_to request.user.try(:username) + 'さん', request.user %></span>
            </div>
          </div>
          <div class="request-operation-btn-wrapper">
            <%= link_to '承認する', approve_post_path(from_user: request.user.id), class: 'request-approve-btn request-remodal-close-action' %>
            <%= link_to '拒否する', refuse_post_path(from_user: request.user.id), method: :post, class: 'request-reject-btn request-remodal-close-action' %>
          </div>
        </div>
      <% end %>
      <span class="request-remodal-close-btn request-remodal-close-action">閉じる</span>
    </div>
  </div>
<% end %>
