<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Outline:</strong>
  <%= @post.outline %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @post.detail %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>

<p>
  <strong>Template:</strong>
  <%= @post.template_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Published:</strong>
  <%= @post.published %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.status %>
</p>

<% if @post.num_of_planner != 0 %>
  <p>
    <strong>Num of planner:</strong>
    <%= @post.num_of_planner %>
    <% if TeamMember.find_by(post_id: @post.id, user_id: current_user.id).nil? %>
      <%= link_to 'Join', join_post_path(job_type: 0), method: :post, data: { confirm: 'プランナーとしての参加を申請しますか？' } %>
    <% end %>
  </p>
<% end %>

<% if @post.num_of_engineer != 0 %>
  <p>
    <strong>Num of engineer:</strong>
    <%= @post.num_of_engineer %>
    <% if TeamMember.find_by(post_id: @post.id, user_id: current_user.id).nil? %>
      <%= link_to 'Join', join_post_path(job_type: 1), method: :post, data: { confirm: 'エンジニアとしての参加を申請しますか？' } %>
    <% end %>
  </p>
<% end %>

<% if @post.num_of_designer != 0 %>
  <p>
    <strong>Num of designer:</strong>
    <%= @post.num_of_designer %>
    <% if TeamMember.find_by(post_id: @post.id, user_id: current_user.id).nil? %>
      <%= link_to 'Join', join_post_path(job_type: 2), method: :post, data: { confirm: 'デザイナーとしての参加を申請しますか？' } %>
    <% end %>
  </p>
<% end %>

<% if @post.num_of_graphicer != 0 %>
  <p>
    <strong>Num of graphicer:</strong>
    <%= @post.num_of_graphicer %>
    <% if TeamMember.find_by(post_id: @post.id, user_id: current_user.id).nil? %>
      <%= link_to 'Join', join_post_path(job_type: 3), method: :post, data: { confirm: 'グラフィッカーとしての参加を申請しますか？' } %>
    <% end %>
  </p>
<% end %>

<p>
  <% if @post.user_id == current_user.id %>
    あなたは企画者です！
  <% elsif TeamMember.find_by(post_id: @post.id, user_id: current_user.id) %>
    参加申請中です！
    <%= link_to 'Leave', leave_post_path, method: :delete, data: { confirm: 'この企画のチームを抜けますか？' } %>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', posts_path %>
