<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Outline:</strong>
  <%= @post.outline %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @post.detail %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>

<p>
  <strong>Template:</strong>
  <%= @post.template_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Published:</strong>
  <%= @post.published %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.status %>
</p>

<% if @post.num_of_planner != 0 %>
  <p>
    <strong>Num of planner:</strong>
    <%= @post.num_of_planner %>
    <% if TeamMember.find_by(post_id: @post.id, user_id: current_user.id).nil? %>
      <%= link_to 'Join', join_post_path(job_type: 0), method: :post, data: { confirm: 'プランナーとしての参加を申請しますか？' } %>
    <% end %>
  </p>
<% end %>

<% if @post.num_of_engineer != 0 %>
  <p>
    <strong>Num of engineer:</strong>
    <%= @post.num_of_engineer %>
    <% if TeamMember.find_by(post_id: @post.id, user_id: current_user.id).nil? %>
      <%= link_to 'Join', join_post_path(job_type: 1), method: :post, data: { confirm: 'エンジニアとしての参加を申請しますか？' } %>
    <% end %>
  </p>
<% end %>

<% if @post.num_of_designer != 0 %>
  <p>
    <strong>Num of designer:</strong>
    <%= @post.num_of_designer %>
    <% if TeamMember.find_by(post_id: @post.id, user_id: current_user.id).nil? %>
      <%= link_to 'Join', join_post_path(job_type: 2), method: :post, data: { confirm: 'デザイナーとしての参加を申請しますか？' } %>
    <% end %>
  </p>
<% end %>

<% if @post.num_of_marketer != 0 %>
  <p>
    <strong>Num of marketer:</strong>
    <%= @post.num_of_marketer %>
    <% if TeamMember.find_by(post_id: @post.id, user_id: current_user.id).nil? %>
      <%= link_to 'Join', join_post_path(job_type: 3), method: :post, data: { confirm: 'マーケターとしての参加を申請しますか？' } %>
    <% end %>
  </p>
<% end %>

<p>
  <% if @post.user_id == current_user.id %>
    あなたは企画者です！
      <% if TeamMember.find_by(post_id: @post.id, accepted: false) %>
          参加申請者は以下
          <% @requests.each do |request| %>
            <%= link_to request.user, approve_post_path(from_user: request.user.id) %>
          <% end %>
        <% elsif TeamMember.find_by(post_id: @post.id, accepted: true) %>
          参加申込はありません
       <% end %>
<% elsif TeamMember.find_by(post_id: @post.id, user_id: current_user.id, accepted: true) %>
    参加中
  <% elsif TeamMember.find_by(post_id: @post.id, user_id: current_user.id, accepted: false) %>
    参加申請中
    <%= TeamMember.find_by(post_id: @post.id, user_id: current_user.id).job_type %>
    <%= link_to 'Leave', leave_post_path, method: :delete, data: { confirm: 'この企画のチームを抜けますか？' } %>

  <% end %>
</p>


<p>このプロジェクトに参加しているメンバー</p>
<% if @members %>
    <% @members.each do |member| %>
        <%= member.user %>
    <% end %>
<% else %>

<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
