<p id="notice"><%= notice %></p>

<section class="top-top5s clearfix">
  <h2>TOP5</h2>
  <ul class="posts">
  </ul>
</section>

<h2>あなたのペライチが追加されました！</h2>
<section class="top-posts clearfix">
  <%= link_to 'planner', search_posts_path(sort:'planner') %>
  <%= link_to 'engineer', search_posts_path(sort:'engineer') %>
  <%= link_to 'designer', search_posts_path(sort:'designer') %>

<ul class="posts">
  <li id="post" class="posts-post posts-post_highlight">
    <div class="posts-post_template">
      <div class="posts-post_image"><%= link_to image_tag(@my_posts_id.template.image), @my_posts_id %></div>
      <div class="posts-post_image_filter"></div>
    </div>
    <div class="posts-post_title"><%= link_to @my_posts_id.title, @my_posts_id %></div>
    <div class="posts-post_outline"><%= @my_posts_id.outline %></div>
    <div class="posts-post_detail"><%= @my_posts_id.detail %></div>
    <div class="posts-post_template_id"><%= @my_posts_id.template_id %></div>
    <div class="posts-post_published"><%= (@my_posts_id.published) ? "下書き" : "公開" %></div>
    <div class="posts-post_status"><%= @my_posts_id.status %></div>
  </li>

  <%= render partial: 'post', collection: @posts %>
</ul>
