<p id="notice"><%= notice %></p>

<section class="top-top5s clearfix">
  <h2>TOP5</h2>
  <ul class="posts">
  </ul>
</section>

<div class="success-wrap">
<h2>あなたのペライチが新しく仲間に加わりました！</h2>
</div>

<section class="top-posts clearfix">
  <%= link_to 'planner', search_posts_path(sort:'planner') %>
  <%= link_to 'engineer', search_posts_path(sort:'engineer') %>
  <%= link_to 'designer', search_posts_path(sort:'designer') %>

<ul class="posts">
  <% rand = (@posts.count >= 5) ? (rand(5)+1).to_i : ((rand(@posts.count) > 0) ?  + 1 : rand(@posts.count)).to_i%>
  <%= puts rand%>
  <% if @posts.count == 0 %>
  <li id="post" class="posts-post posts-post_highlight">
          <div class="posts-post-text">
            <div class="posts-post-text_title"><%= link_to @my_posts_id.title, @my_posts_id %></div>
            <div class="posts-post-text_outline"><%= @my_posts_id.outline %></div>
            <div class="posts-post-text_detail"><%= @my_posts_id.detail %></div>
            <div class="posts-post-text_template_id"><%= @my_posts_id.template_id %></div>
            <div class="posts-post-text_published"><%= (@my_posts_id.published) ? "下書き" : "公開" %></div>
            <div class="posts-post-text_status"><%= @my_posts_id.status %></div>
          </div>
      </li>
  <% end %>
  <% @posts.each.with_index(0) do |post,index| %>
  <% if index == rand %>
    <li id="post" class="posts-post posts-post_highlight">
          <div class="posts-post-text">
            <div class="posts-post-text_title"><%= link_to @my_posts_id.title, @my_posts_id %></div>
            <div class="posts-post-text_outline"><%= @my_posts_id.outline %></div>
            <div class="posts-post-text_detail"><%= @my_posts_id.detail %></div>
            <div class="posts-post-text_template_id"><%= @my_posts_id.template_id %></div>
            <div class="posts-post-text_published"><%= (@my_posts_id.published) ? "下書き" : "公開" %></div>
            <div class="posts-post-text_status"><%= @my_posts_id.status %></div>
          </div>
    </li>
  <% end %>
      <li id="post" class="posts-post">
        <div class="posts-post-text">
          <div class="posts-post-text_title"><%= link_to post.title, post %></div>
          <div class="posts-post-text_outline"><%= post.outline %></div>
          <div class="posts-post-text_detail"><%= post.detail %></div>
          <div class="posts-post-text_template_id"><%= post.template_id %></div>
          <div class="posts-post-text_published"><%= (post.published) ? "下書き" : "公開" %></div>
          <div class="posts-post-text_status"><%= post.status %></div>
        </div>
      </li>
  <% end %>
</ul>
