<header>
  <div class="header-logo">
    <%= link_to root_path do %><%= image_tag 'logo.png' %><% end %>
  </div>
  <nav>
    <ul>
      <% if user_signed_in? %>
          <li class="header-profile_image" id="open-menu-btn"><%= image_tag current_user.try(:image) %></li>
          <li class="header-notices">
            <div class="header-notices fa fa-bell-o"></div>
            <%= (Notification.where(from_user_id: current_user, is_read:false).count > 0) ? Notification.where(from_user_id: current_user, is_read:false).count : ""%>
          </li>
      <% else %>
          <li class="header-login">
            <%= link_to 'ログイン / 新規登録', login_path %>
          </li>
      <% end %>
    </ul>
  </nav>
</header>
