<!DOCTYPE html>
<html>
  <head>
    <title><%= (@post) ? "#{@post.try(:title)}ペラクト": "ペラクト | ペライチ企画を提案・実現しよう"%></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
  </head>
  <body>
  <header>
    <nav class="clearfix">
      <ul>
      <% if user_signed_in? %>
            <li class="header-top"><%= link_to root_path do %><%= image_tag 'logo.png' %><% end %></li>
            <li class="header-profile_image"><%= link_to (image_tag current_user.try(:image)), current_user %></li>
            <li class="header-notices">
              <%= link_to '', notifications_path, class:'header-notices fa fa-bell-o' %>
              <%= (Notification.where(from_user_id: current_user, is_read:false).count > 0) ? Notification.where(from_user_id: current_user, is_read:false).count : ""%>
            </li>
            <li class="header-logout"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
            <li><%= link_to 'Facebookで簡単ログイン', user_facebook_omniauth_authorize_path %></li>
      <% end %>
      </ul>
    </nav>
  </header>
  <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
  <% end %>
    <%= yield %>

    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
  </body>
</html>
