<!DOCTYPE html>
<html>
  <head>
    <title>P1Tech</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <% if user_signed_in? %>
        <%= link_to 'ペライチ', root_path %>

        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>

        <%= link_to 'マイペライチ', posts_path %>
        <%= link_to '', new_post_path, class:'header-new_post fa fa-pencil-square-o' %>
    <% else %>
        <%= link_to 'Facebookでサインイン', user_facebook_omniauth_authorize_path %>
    <% end %>
  </header>

    <%= yield %>
  </body>
</html>
