<!DOCTYPE html>
<html>
  <head>
    <title><%= (@post) ? "#{@post.try(:title)}ペラクト": "ペラクト | ペライチ企画を提案・実現しよう"%></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css"> -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
  </head>
  <body>
  <header>
    <nav class="clearfix">
      <ul>
      <% if user_signed_in? %>
            <li class="header-top"><%= link_to 'ペラクト', root_path %></li>
            <li class="header-logout"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <li class="header-profile_image"><%= link_to (image_tag current_user.try(:image)), current_user %></li>
            <li class="header-posts-new"><%= link_to '', new_post_path, class:'header-new_post fa fa-pencil-square-o' %></li>
            <li class="header-notices">
              <%= link_to '', notifications_path, class:'header-notices fa fa-bell-o' %>
              <%= (Notification.where(from_user_id: current_user, is_read:false).count > 0) ? Notification.where(from_user_id: current_user, is_read:false).count : ""%>
            </li>
      <% else %>
            <li><%= link_to 'Facebookで簡単ログイン', user_facebook_omniauth_authorize_path %></li>
      <% end %>
      </ul>
    </nav>
  </header>
  <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
