<!DOCTYPE html>
<html>
  <head>
    <title>P1Tech</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
    <% if user_signed_in? %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>

        <%= link_to 'ペライチを投稿', new_post_path %>
  <% else %>
        <%= link_to 'Facebookでサインイン', user_facebook_omniauth_authorize_path %>
    <% end %>
  </div>

    <%= yield %>
  </body>
</html>
