<!DOCTYPE html>
<html>
  <head>
    <title><%= (@post) ? "#{@post.try(:title)}ペラクト": "ペラクト | ペライチ企画を提案・実現しよう"%></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon(:init => true) %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
  </head>
  <body>
    <%= render 'header' %>
    <%= render 'flash' %>

    <%= yield %>

    <% if user_signed_in? %>
      <div class="side-menu" id="side-menu">
        <span class="close-menu-btn" id="close-menu-btn"><%= fa_icon 'times' %></span>
        <div class="side-menu-header">
          <%= link_to current_user do %><%= image_tag current_user.try(:image) %><% end %>
          <span><%= current_user.try(:username) %></span>
        </div>
        <div class="side-menu-list">
          <ul>
            <li><%= link_to current_user do %><%= fa_icon 'user' %>プロフィール<% end %></li>
          </ul>
        </div>
        <% if @sorted_posts_and_messages.present? %>
          <div class="new-message-box">
            <h3>新着メッセージ</h3>
            <% @sorted_posts_and_messages.each_with_index do |post_and_message, i| %>
              <% break if i >= 3 %>
              <div class="new-message clearfix">
                <%= link_to '', talk_room_path(post_and_message[0].id), class: 'message-link' %>
                <div class="message-icon" style="background-color: <%= post_and_message[0].main_color %>">
                  <%= fa_icon (post_icon_of_category(post_and_message[0].category_name)) %>
                </div>
                <div class="message-main">
                  <h4 class="message-title"><%= post_and_message[0].title.truncate(15) %></h4>
                  <% if post_and_message[1] %>
                    <p class="message-content"><%= post_and_message[1].content.truncate(15) %></p>
                  <% else %>
                    <p class="message-content">メッセージはまだありません</p>
                  <% end %>
                </div>
                <% if post_and_message[2] > 0 %>
                  <div class="unread-count">
                    <span style="background-color: <%= post_and_message[0].main_color %>"><%= post_and_message[2] %></span>
                  </div>
                <% end %>
              </div>
            <% end %>

            <% if @sorted_posts_and_messages.count >= 3 %>
              <span class="link-to-room-list"><%= link_to room_list_path do %>もっとみる<% end %></span>
            <% end %>
          </div>
        <% else %>
          <div class="encourage-message">
            <p>
              現在進行中のプロジェクトはありません。企画を投稿してメンバーを募集しましょう。
            </p>
          </div>
        <% end %>
        <div class="side-menu-list bottom-list">
          <ul>
            <li><%= link_to edit_user_path(current_user), method: :get do %><%= fa_icon 'cog' %>アカウント設定<% end %></li>
            <li class="logout-link"><%= link_to destroy_user_session_path, method: :delete do %><%= fa_icon 'sign-out' %>ログアウト<% end %></li>
          </ul>
        </div>
      </div>
      <div class="side-menu-wrapper" id="side-menu-wrapper"></div>
    <% end %>

    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>


    <% if user_signed_in? %>
      <div class="notifications-list-wrap">
        <div class="notifications-list">
          <h3>新着通知</h3>

          <ul>
            <% if @notifications.count == 0 %>
                <p class="not-notification-sub-notice">お知らせする通知はありません</p>
            <% end %>
            <% @notifications.first(5).reverse.each do |notice| %>
                <li class="clearfix">
                  <% if notice.content == '申請' %>
                      <div class="notice-category-icon" style="background-color: <%= Post.find(notice.target_content_id).main_color %>">
                        <%= link_to fa_icon(post_icon_of_category(Post.find(notice.target_content_id).category_name)),Post.find(notice.target_content_id) %>
                      </div>
                      <div class="notice-category-title">
                        <%= link_to Post.find(notice.target_content_id) do %>
                            <%= Post.find(notice.target_content_id).title %>
                            に <%= notice.user.username %> から参加申請が来ました。
                        <% end %>
                      </div>
                  <% elsif notice.content == '取消' %>
                      <div class="notice-category-icon" style="background-color: <%= Post.find(notice.target_content_id).main_color %>">
                        <%= link_to fa_icon(post_icon_of_category(Post.find(notice.target_content_id).category_name)),Post.find(notice.target_content_id) %>
                      </div>
                      <div class="notice-category-title">
                        <%= link_to Post.find(notice.target_content_id) do %>
                            <%= Post.find(notice.target_content_id).title %>
                            への参加申請を <%= notice.user.username %> が取り消しました。
                        <% end %>
                      </div>
                  <% elsif notice.content == '脱退' %>
                      <div class="notice-category-icon" style="background-color: <%= Post.find(notice.target_content_id).main_color %>">
                        <%= link_to fa_icon(post_icon_of_category(Post.find(notice.target_content_id).category_name)),Post.find(notice.target_content_id) %>
                      </div>
                      <div class="notice-category-title">
                        <%= link_to Post.find(notice.target_content_id) do %>
                            <%= Post.find(notice.target_content_id).title %>
                            の企画を <%= notice.user.username %> が脱退しました。
                        <% end %>
                      </div>
                  <% elsif notice.content == '許可' %>
                      <div class="notice-category-icon" style="background-color: <%= Post.find(notice.target_content_id).main_color %>">
                        <%= link_to fa_icon(post_icon_of_category(Post.find(notice.target_content_id).category_name)),Post.find(notice.target_content_id) %>
                      </div>
                      <div class="notice-category-title">
                        <%= link_to Post.find(notice.target_content_id) do %>
                            <%= Post.find(notice.target_content_id).title %>
                            への参加申請が <%= notice.user.username %> に許可されました。
                        <% end %>
                      </div>
                  <% elsif notice.content == '拒否' %>
                      <div class="notice-category-icon" style="background-color: <%= Post.find(notice.target_content_id).main_color %>">
                        <%= link_to fa_icon(post_icon_of_category(Post.find(notice.target_content_id).category_name)),Post.find(notice.target_content_id) %>
                      </div>
                      <div class="notice-category-title">
                        <%= link_to Post.find(notice.target_content_id) do %>
                            <%= Post.find(notice.target_content_id).title %>
                            への参加申請が <%= notice.user.username %> に拒否されました。
                        <% end %>
                      </div>
                  <% elsif notice.content == '応援' %>
                      <div class="notice-category-icon" style="background-color: <%= Post.find(notice.target_content_id).main_color %>">
                        <%= link_to fa_icon(post_icon_of_category(Post.find(notice.target_content_id).category_name)),Post.find(notice.target_content_id) %>
                      </div>
                      <div class="notice-category-title">
                        <%= link_to Post.find(notice.target_content_id) do %>
                            <%= Post.find(notice.target_content_id).title %>
                            が <%= notice.user.username %> に応援されました。
                        <% end %>
                      </div>
                  <% end %>

                </li>
            <% end %>
          </ul>

        </div>
      </div>
    <% end %>



    <div class="remodal" data-post-modal="modal">
      <div class="post-preview-modal" id="post-preview-modal">
        <h3>この投稿を応援しますか？</h3>
        <div class="sns-label-wrap clearfix">
          <a href="" class="modal-support-btn-fb sns-label-fb" id="modal-support-btn-fb" onclick="window.open(this.href, 'snswindow', 'width=550,height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><%= fa_icon 'facebook-square' %>
            Facebookで応援する</a>
          <a href="" class="modal-support-btn-tw sns-label-tw" id="modal-support-btn-tw" onclick="window.open(this.href, 'snswindow', 'width=550,height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><%= fa_icon 'twitter' %>
            Twitterで応援する</a>
        </div>
      </div>
    </div>

  </body>
</html>
