<!DOCTYPE html>
<html>
  <head>
    <title><%= (@post) ? "#{@post.try(:title)}ペラクト": "ペラクト | ペライチ企画を提案・実現しよう"%></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
  </head>
  <body>
    <header>
      <nav class="clearfix">
        <ul>
        <% if user_signed_in? %>
              <li class="header-top"><%= link_to root_path do %><%= image_tag 'logo.png' %><% end %></li>
              <li class="header-profile_image" id="open-menu-btn"><%= image_tag current_user.try(:image) %></li>
              <li class="header-notices">
                <%= link_to '', notifications_path, class:'header-notices fa fa-bell-o' %>
                <%= (Notification.where(from_user_id: current_user, is_read:false).count > 0) ? Notification.where(from_user_id: current_user, is_read:false).count : ""%>
              </li>
        <% else %>
              <li><%= link_to 'Facebookで簡単ログイン', user_facebook_omniauth_authorize_path %></li>
        <% end %>
        </ul>
      </nav>
    </header>
    <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
    <% end %>

    <%= yield %>

    <% if user_signed_in? %>
      <div class="side-menu" id="side-menu">
        <span class="close-menu-btn" id="close-menu-btn"><%= fa_icon 'times' %></span>
        <div class="side-menu-header">
          <%= link_to current_user do %><%= image_tag current_user.try(:image) %><% end %>
          <span><%= current_user.try(:username) %></span>
        </div>
        <div class="side-menu-list">
          <ul>
            <li><%= link_to current_user do %><%= fa_icon 'user' %>プロフィール<% end %></li>
            <li><%= link_to room_list_path do %><%= fa_icon 'comments-o' %>プロジェクトルーム<% end %></li>
          </ul>
        </div>
        <div class="new-message-box">
          <h3>新着メッセージ</h3>
          <% @sorted_posts_and_messages.each_with_index do |post_and_message, i| %>
            <% break if i >= 3 %>
            <div class="new-message clearfix">
              <%= link_to '', talk_room_path(post_and_message[0].id), class: 'message-link' %>
              <div class="message-icon" style="background-color: <%= post_and_message[0].main_color %>">
                <%= fa_icon (post_icon_of_category(post_and_message[0].category_name)) %>
              </div>
              <div class="message-main">
                <h4 class="message-title"><%= post_and_message[0].title.truncate(15) %></h4>
                <p class="message-content"><%= post_and_message[1].content.truncate(15) %></p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="side-menu-list bottom-list">
          <ul>
            <li><%= link_to edit_user_path(current_user), method: :delete do %><%= fa_icon 'cog' %>アカウント設定<% end %></li>
            <li><%= link_to destroy_user_session_path, method: :delete do %><%= fa_icon 'sign-out' %>ログアウト<% end %></li>
          </ul>
        </div>
      </div>
      <div class="side-menu-wrapper" id="side-menu-wrapper"></div>
    <% end %>

    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
  </body>
</html>
